# Paper's files
*.pages
*.word

# History files
.Rhistory
.Rapp.history
.DS_Store

# DataSpell
.idea

# MS Visual Studio
.vscode
*.code-workspace

# Local only folder
/ignore-folder/
/data/
/src/lambda_data/
/models/*complex*
*conn/

secrets.toml
credentials.toml
.ipynb_checkpoints
.virtual_documents

/conda-env/
# requirements*

__pycache__

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
